.container-main {
  display: flex;
  justify-content: s;
  align-items: center;
  height: auto;
  width: auto;
  margin-top: 100px;
  margin-bottom: auto;
  background: #949999;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.heading {
  color: white;
  text-align: center;
}

.signup-form {
  width: 60%;
  font-size:20px;
  margin-top:0px;
  margin-bottom: 20px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.btn-cancel{
    margin-top:20px;
}
.btn-signup{
    margin-top:20px;
}

