.grid{
 
  height: 450px;
  width: auto;
  float:left;
  margin-left: 80px;
  margin-top:50px;
  border: 1px solid black;

}
.btn-edit{
  border-radius:5px;
  font-size: 20px;
  color:white;
  border: 1px solid #c0392b;
  background-color:#949999 ;
  margin-top: auto;
  margin-bottom: auto;
}
.btn-edit:hover{
  background-color: #c0392b;
  color:black;
}
.btn-delete:hover{
  background-color: #c0392b;
  color:black;
}
.btn-delete{
   border-radius:5px;
  font-size: 20px;
  color:white;
  border: 1px solid #c0392b;
  background-color:#949999 ;
  margin-top: auto;
  margin-bottom: auto;

}